<div>
    <h2>{{isNew() ? 'Nuevo' : 'Editar' }} Funcion {{isNew() ? "" : "- " + currentNombre}}</h2>
    <form (ngSubmit)="save()" #dataform="ngForm">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-3 p-md-3">
                <label for="nombre">Nombre (Generado)</label>
                <input type="text" pInputText class="p-inputtext-sm" placeholder="" [ngModel]="generateNombre()" required disabled name="nombre">
            </div>
            <div class="p-field p-col-3 p-md-3">
                <label for="pelicula">Pelicula</label>
                <p-dropdown  [options]="peliculas" [(ngModel)]="funcion.pelicula" optionLabel="tituloPais" name="pelicula" placeholder="Seleccione una pelicula" [required]="true" [showClear]="true"></p-dropdown>
            </div>
            <div class="p-field p-col-3 p-md-3">
                <label for="complejo">Complejo</label>
                <p-dropdown  [options]="complejos" [(ngModel)]="complejo" (ngModelChange)="onComplejoChange()" optionLabel="nombre" name="complejo" placeholder="Seleccione un complejo" [required]="true" [showClear]="true"></p-dropdown>
            </div>
            <div class="p-field p-col-3 p-md-3">
                <label for="sala">Sala</label>
                <p-dropdown  [options]="salas" [(ngModel)]="funcion.sala" optionLabel="numero"  (ngModelChange)="onSalaChange()" name="sala" placeholder="Seleccione una sala" [required]="true" [showClear]="true"></p-dropdown>
            </div>
            <ng-container *ngIf="funcion.sala" >
                <div class="p-field p-col-3 p-md-3" >
                    <label for="formato">Formato</label>
                    <p-dropdown [options]="formatos" [(ngModel)]="funcion.formato" optionLabel="nombre" name="formato" placeholder="Seleccione un formato" [required]="true" [showClear]="true"></p-dropdown>
                </div>
                <div class="p-field p-col-3 p-md-3">
                    <label for="fecha">Fecha</label>
                    <p-calendar [(ngModel)]="fecha" [minDate]="minFecha" [dateOnly]="true" name="fecha" [readonlyInput]="true" inputId="fecha" [required]="true"></p-calendar>
                </div>
                <div class="p-field p-col-3 p-md-3">
                    <label for="hora">Hora</label>
                    <p-calendar [(ngModel)]="hora" [timeOnly]="true" inputId="hora" name="hora" [required]="true"></p-calendar>
                </div>
            </ng-container>

        </div>
        <div class="p-grid p-jc-end">
            <div class="p-col-1  p-md-1">
                <button pButton type="button" class="p-button-secondary" (click)="previousState()" label="Volver"></button>
            </div>
            <div class="p-col-1  p-md-1">
                <button pButton type="submit" label="Guardar" [disabled]="!dataform.valid"></button>
            </div>
        </div>
    </form>
</div>
<p-toast></p-toast>
