<div>
    <h2>{{isNew() ? 'Nuevo' : 'Editar' }} Formato {{ isNew() ? '' : ' - ' + currentNombre}}</h2>
    <form (ngSubmit)="save()" #dataform="ngForm">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-3 p-md-3">
            <label for="nombre">Nombre</label>
            <input type="text" pInputText class="p-inputtext-sm" placeholder="NOMBRE GENERADO" [ngModel]="formato.nombre" disabled name="nombre">
        </div>
        <div class="p-field p-col-3 p-md-3">
            <label for="clasificacion">Clasificacion</label>
            <p-dropdown  [options]="tecnologiasProyeccion" [(ngModel)]="formato.tecnologiaProyeccion" (ngModelChange)="changeNombre()" optionLabel="nombre" name="clasificacion" placeholder="Seleccione una Tecnologia de Proyeccion" [required]="true" [showClear]="true"></p-dropdown>
        </div>
        <div class="p-field p-col-3 p-md-3">
            <label for="genero">Genero</label>
            <p-dropdown  [options]="audios" [(ngModel)]="formato.audio" optionLabel="nombre" name="formato" (ngModelChange)="changeNombre()" placeholder="Seleccione un Audio" [required]="true" [showClear]="true"></p-dropdown>
        </div>
    </div>
    <div class="">
        <button pButton type="button" class="p-button-secondary" (click)="previousState()" label="Volver"></button>
        <button pButton type="submit" label="Guardar" [disabled]="!dataform.valid"></button>
    </div>
    </form>
</div>
<p-toast></p-toast>